<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juste Prix Amazon</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <style>
      .container {
        max-width: 600px;
        margin: 0 auto;
      }
      h1 {
        margin-bottom: 20px;
      }
      input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        margin-bottom: 10px;
      }
      input[type="submit"] {
        width: 100%;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <form action="/game" method="post">
      <section class="section">
        <div class="container">
          <h1 class="title">Nom d'utilisateur :</h1>
          <input
            class="input"
            type="text"
            placeholder="Entrez votre nom d'utilisateur"
          />
          <div class="columns is-centered">
            <div class="column is-narrow">
              <ul>
                {% for categorie in categories %}
                <li>
                  <label class="title">
                    <input
                      type="checkbox"
                      class="checkbox"
                      name="{{ categorie }}"
                    />
                    {{ categorie }}
                  </label>
                </li>
                {% endfor %}
              </ul>
              <input type="submit" value="Commencer" class="input" />
            </div>
          </div>
        </div>
      </section>
    </form>
  </body>
</html>
