<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/themes.css') }}"
    />
    <style>
      form {
        background: #151515;
        border: 2px solid black;
        width: 50vw;
        margin: auto;
        border-radius: 10px;
        margin-top: 10px;
        padding: 15px;
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
      }

      body.light-mode form{
        background: #ccc;
        border: 2px solid gray;
      }
    </style>

    <title>Juste Prix Amazon</title>
  </head>
  <body>
      <nav>
      <a href="/">Accueil</a>
      <a href="/podium">Podium</a>
      <div class="has-text-right">
        <button id="mode-toggle" class="button is-small">☀️ Mode Clair</button>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title" style="text-align: center">Juste Prix Amazon</h1>
        <p class="subtitle" style="text-align: center">Devinez le prix d'un produit Amazon</p>

      <audio autoplay loop id="itemSound">
        <source
          src=""
          type="audio/mpeg"
        />
      </audio>

        <form class="has-text-centered" method="post" action="/guess">
          <div class="columns is-centered">
            <div class="column is-narrow">
              <h1 id="name_product" class="title" style="width: 80vh; font-size: 24px">
                {{ name if name else "?" }}
              </h1>
              <img id="image_product" src="../static/images/randomItem.gif" alt="Product image" style="height: 38vh"/>
              <br />
              <div style="margin-top: 20px">
                <input
                  type="text"
                  class="input"
                  name="guess"
                  min="0"
                  style="width: 100px"
                />
                <button
                  class="button is-primary"
                  type="submit"
                  style="margin-bottom: 20px"
                >
                  Valider
                </button>
                <h1
                  class="subtitle is-5 has-text-success"
                  style="margin-bottom: 20px"
                >
                  {{ response }}
                </h1>
              </div>
              <p class="title is-4">
                Prix actuel : <span id="price">{{ price }} €</span>
              </p>
            </div>
          </div>
        </form>
      </div>
    </section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const category = "{{ category }}";
    const response = "{{ response }}";

    if (response !== "") {
      const name = "{{ name }}";
      const price = "{{ price }}";
      const img = "{{ image }}";

      document.getElementById('name_product').textContent = name;
      document.getElementById('price').textContent = price;
      document.getElementById('image_product').src = img;
    } else {
      console.log('Fetching data...');
      document.getElementById('itemSound').src = "{{ url_for('static', filename='Sound/item.mp3') }}";
      fetch('/api/set_item', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ category: category })
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            console.error('Erreur API:', data.error);
            return;
          }

          const name = data.name;
          const price = data.price;
          const img = data.image;

          document.getElementById('name_product').textContent = name;
          document.getElementById('price').textContent = `Prix: ${price}`;
          document.getElementById('image_product').src = img;
          document.getElementById('itemSound').src = "{{ url_for('static', filename='Sound/itemFound.mp3') }}";
          document.getElementById('itemSound').loop = false;
        })
        .catch(error => console.error('Erreur:', error));
    }
  });
</script>

    <script
      src="{{ url_for('static', filename='js/theme-switcher.js') }}"
      defer
    ></script>
  </body>
</html>
