<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <title>Juste Prix Amazon</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Juste Prix Amazon</h1>
        <p class="subtitle">Devinez le prix d'un produit Amazon</p>
        <form class="has-text-centered">
          <div class="columns is-centered">
            <div class="column is-narrow">
              <h1 class="title">Nom du produit</h1>
              <img
                src="https://picsum.photos/300/300"
                alt="Product image"
                style="height: 50vh"
              />
              <br />
              <input type="number" class="input" min="0" style="width: 100px" />
              <p class="title is-4">
                Prix actuel : <span id="price">15</span> €
              </p>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
