<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <title>Juste Prix Amazon</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Juste Prix Amazon</h1>
        <p class="subtitle">Devinez le prix d'un produit Amazon</p>
        <form class="has-text-centered" method="post" action="/guess">
          <div class="columns is-centered">
            <div class="column is-narrow">
              <h1 class="title">{{ name if name else "No name" }}</h1>
              <img src="{{ image}}" alt="Product image" style="height: 50vh" />
              <br />
              <div style="margin-top: 20px">
                <input
                  type="text"
                  class="input"
                  name="guess"
                  min="0"
                  style="width: 100px"
                />
                <button
                  class="button is-primary"
                  type="submit"
                  style="margin-bottom: 20px"
                >
                  Valider
                </button>
                <h1
                  class="subtitle is-5 has-text-success"
                  style="margin-bottom: 20px"
                >
                  {{ response }}
                </h1>
              </div>
              <p class="title is-4">
                Prix actuel : <span id="price">{{ price }} €</span>
              </p>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
